.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .8em;
}

.header-title {
    margin-top: .6em;
    border-bottom: solid white 3px;
    font-size: 2.5em;
    font-weight: bold;
}
