.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 2.5em;
}
  
.input-text {
  font-size: .85em;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-btn {
  width: 25%;
  margin-top: 1.2em;  
  margin-bottom: .9em;  
}

.blockie-img {
  height: 5em;
  width: auto;
  margin-bottom: 2em;
  border-radius: 25%;
  border: solid 3px white;
  align-self: center;
}

.user-info-container {
  width: 50vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 20em;
  font-size: .82em;
  background-color: rgb(41, 39, 39);
  padding: .5em;
  border-radius: 5px;
  border: solid gray 1px;
  margin-top: 2em;
}

.king-info-container {
  margin-top: 4em;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.king-name {
  font-size: 1.2em;
  margin-bottom: .6em;
}

.medium-link {
  margin-top: 4em;
}

.user-address {
  margin-bottom: .2em;
}

.connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.mm-download {
  color: white;
  margin-top: 3em;
}

.block-load-img {
  height: 8em;
  width: auto;
  padding-top: .8em;
  margin-bottom: 2.5em;
  margin-top: 1.5em;
  animation: bounce 2.3s linear infinite;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(-25px);}
  100% {transform: translateY(0);}
}